.categories{
    position: fixed;
    background-color: white;
    left:35;
    right: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 53;
}

.category{
    margin-right: 16px;
    padding: 0px 12px;
    background-color: rgba(0, 0, 0, 0.05);
    border-color: rgb(229, 228, 228);
    border-style: solid;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    height: 32px;
    cursor: pointer;
    transition:0.15s;

}
.category:hover{
    background-color: rgb(225, 224, 224);
}
.category.active{
    background-color:#0f0f0f;
    color: white;
}