.sidebar{
    position: fixed;
    background-color:white;
    left: 0;
    bottom: 0;
    top: 105px;
    z-index: 1;
    width: 72px;
    padding: 0px 4px;
    cursor: pointer;
    transition: 0.15s;
}
.sidebar div:hover{
    background-color: rgb(225, 224, 224);
    border-radius: 8px;
}

.sidebar-icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:74px;
    margin-bottom: 1px;
}
.sidebar-icons img{
    width: 24;
    border: none;
    margin-bottom: 4px;
}
.sidebar-icons div{
    font-size: 10px;
    font-weight: 400px;
}